<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 標準の暗号化(HTTPS など)以外は使っていない。提出のたびに輸出コンプライアンスを聞かれないようにする -->
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
